html {
  background-color: #f2f4e0;
}


.navbar {
  overflow: hidden;
  background-color: #444;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar h1 {
  float: left;
  position: relative;
  margin-left: 0.8em;
  font-size: 1.7em;
  transform: scaleY(1.5);
  color: white;
}

.navbar p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  float: right;
  padding-right: 1.7em;
  cursor: pointer;
}

.navbar select {
  float: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #f38b00;
  border: 0em;
  background-color: transparent;
  margin-top: 1em;
  margin-right: 1.7em;
}

.navbar option {
  color: black;
  font-size: 0.8em;
}

.navbar #find {
  color: #f3c417;
}

.navbar #make {
  color: #82bc00;
  padding-right: 1.5em;
}


.class-selection {
  display: inline-block;
  float: left;
  margin-left: 1em;
  width: 70%;
}

.accordion-toggle {
  cursor: pointer;
  border: 0.1em solid #006853;
  border-radius: 0.3em;
  background-color: #d7dabc;
  color: #006853;
  padding-left: 0.4em;
}

.accordion-content.default {
  display: block;
}

#search {
  display: none;
}

#searchBar {
  background-image: url("./searchIcon.png");
  background-repeat: no-repeat;
  background-position: 0.5em;
  font-size: 1.2em;
  padding: 0.4em 2em 0.4em 2em;
  border: 0.05em solid #ddd;
  border-radius: 0.3em;
  width: 40%;
}

#filterText {
  font-size: 1em;
  border: 0em;
  background-color: transparent;
  width: 20%;
}

#filters {
  display: none;
  width: 40%;
}

#departments > .accordion-toggle {
  width: 85%;
}

#departments span {
  width: 85%;
}

.class > p {
  line-height: 20%;
}


.right-side {
  /* Added to avoid content overlay */
  margin-top: 5em;
}

.shopping-cart {
  float: right;
  display: inline-block;
  position: sticky;
  width: 25%;
  height: 30em;
  margin-right: 1em;
  border: 0.1em solid #006853;
  border-radius: 0.3em;
  background-color: #d7dabc;
  color: #006853;
}

#generator-button {
  float: right;
}
