html {
  background-color: #f2f4e0;
}

.navbar {
  overflow: hidden;
  background-color: #444;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar h1 {
  float: left;
  color: white;
  padding-left: 1.5em;
}

.navbar p {
  float: right;
  color: white;
  padding-top: 1em;
  padding-right: 2em;
}

.navbar #make {
  color: #f38b00;
}

.navbar #search {
  color: #f3c417;
}

.navbar #browse {
  color: #82bc00;
}

.main {
  margin-top: 5em; /* Added to avoid content overlay */
}