html {
  background-color: #f2f4e0;
}


.navbar {
  overflow: hidden;
  background-color: #444;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 4.1em;
}

.navbar h1 {
  float: left;
  position: relative;
  margin-left: 0.8em;
  margin-bottom: 0;
  font-size: 1.7em;
  transform: scaleY(1.5);
  color: white;
}

.navbar p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  float: right;
  padding-right: 1.7em;
  cursor: pointer;
}

.navbar select {
  float: right;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3em;
  color: #f38b00;
  border: 0em;
  background-color: transparent;
  margin-top: 1em;
  margin-right: 1.7em;
}

.navbar option {
  color: black;
  font-size: 0.8em;
}

.navbar #find {
  color: #f3c417;
}

.navbar #make {
  color: #82bc00;
  padding-right: 1.5em;
}


.class-selection {
  margin-top: 4.5em;
  display: inline-block;
  float: left;
  margin-left: 5%;
  width: 60%;
}

.accordion-toggle {
  cursor: pointer;
  border: 0.1em solid #006853;
  border-radius: 0.3em;
  background-color: #d7dabc;
  color: #006853;
  padding: 0.1em 0% 0.1em 0.4em;
  margin-top: 0;
}

.accordion-content.default {
  display: block;
}

#search {
  display: none;
}

#searchBar {
  display: block;
  margin: auto;
  background-image: url("./searchIcon.png");
  background-repeat: no-repeat;
  background-position: 0.5em;
  font-size: 1.2em;
  padding: 0.4em 2em 0.4em 2em;
  border: 0.05em solid #ddd;
  border-radius: 0.3em;
  width: 40%;
}

#filterText {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1em;
  border: 0em;
  background-color: transparent;
  width: 20%;
}

#filters {
  display: none;
  width: 40%;
}

#departments {
  margin-bottom: 7%;
}

#departments .accordion-toggle {
  width: 85%;
}

.courses {
  width: 85%;
  display: none;
}

.classes {
  display: none;
}

.classes table {
  margin-bottom: 5%;
  border-collapse: collapse;
}

.classes tr:nth-child(even) {
  background-color: #e3e5d0
}

.classes th, .classes td {
  padding: 0.3em 1em;
  border: 0.1em solid black;
}

#generator {
  display: none;
}


.right-side {
  margin-top: 5em;
  position: fixed;
  top: 0;
  right: 2.5%;
  width: 25%;
}

.shopping-cart {
  float: right;
  width: 100%;
  height: 30em;
  border: 0.1em solid #006853;
  border-radius: 0.3em;
  background-color: #d7dabc;
  color: #006853;
  margin-bottom: 10%;
}

#generator-button {
  margin: 0 auto;
  display: block;
  padding: 3% 7% 3% 7%;
  font-size: 1.2em;
  line-height: 1.2em;
}
